
<style>
.active ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.active li {
    float: left;
}

.active li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.active a:hover {
    background-color: #111;
}
</style>
<div class="active">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/forum">Forum</a></li>
      <li><a href="/about">About</a></li>

    </ul>    
</div>
<p>We're a group of threatening web-dev game changers who are commoditising opportunity pipelines and reorthogonalising boost up-sell messages before getting out of bed each day.
<br>In our team we have: 
<br><b>Joe User:</b> Our humble software farmer
<br><b>Jane Admin:</b>  Our professional software horticulturist
</p>

<p>
And together we're here to ${garble}
</p>